.container{
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr 6fr;    
    grid-template-areas: 
    "upper_container"
    "middle_container"
    "bottom_container";
}
.middle_container{
    grid-area: middle_container;
    font-size: 1em;
    height: 4em;
    background-color: var(--secondary-color);
    text-align: center;
    width: 80%;
    margin: auto;
    border-radius: 2em;
}
.upper_container{
    grid-area: upper_container;
    width: 100%;
    margin: auto;
    margin-top: 3%;
}
.middle_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}
.middle_container li {
    display: inline;
    padding-top: 0.5%;
}
.middle_container li a {
    text-decoration: none;
    color: #1b1b1b;
    transition: all 0.3s ease;
}
.middle_container li a:hover {
    background-color: var(--golden-color);
    border-radius: 1em;
    color: var(--background-color);
    transform: scale(1.1);
}

.profile-pic img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: calc(4em + 10vw);
    background-color: var(--secondary-color);
    border: 0.8vh solid var(--secondary-color);
    object-fit: cover;
}

.account_info{
    align-items: center;
    flex-direction: column;
}

.account_info h1{
    text-align: center;
    font-size: 3em;
    margin-top: 0.5em;
}
.account_info h2{
    text-align: center;
    margin-top: -1.2vh;
    font-size: 2em;
    color: var(--golden-color);
}

.account_info h3{
    text-decoration: underline;
    text-align: center;
    margin-top: 0.5em;
    color: #333333;
}
.edit_profile{
    text-align: center;
}
.edit_profile > a{
    color: white;
}
.user_bio{
    margin-top: 0em;
    background-color: var(--golden-color);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
    border-radius: 2em;
}
.user-description {
    text-align: justify;
    max-height: 60vh;
    overflow: auto;
    margin: 1em 1em 1em 1em;
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.5em;
}
.bottom_container{
    grid-area: bottom_container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.print_stuff{
    width: 85%;
    margin-top: 4em;
    max-height: 50.5em;
    height: 60em;
    overflow: auto;
    background-color: var(--right-color);
    padding-bottom: 1em;
}

.create_listing {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 1em;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
.create_listing:hover {
    background-color: var(--golden-color); /* Darker green */
    color: var(--background-color);
    font-weight: bold;
}
#products_link{
    background-color: var(--secundary-color);
    color: var(--background-color);
    padding: 0.2em;
    border-radius: 2em;
    border: 0;
    font-size: 1em;
}
#wishlist_link{
    background-color: var(--secundary-color);
    color: var(--background-color);
    padding: 0.2em;
    border-radius: 2em;
    border: 0;
    font-size: 1em;
}
#sold_products_link{
    background-color: var(--secundary-color);
    color: var(--background-color);
    padding: 0.2em;
    border-radius: 2em;
    border: 0;
    font-size: 1em;
}
#products_link:hover{
    background-color: var(--golden-color);
    color: var(--background-color);
}
#sold_products_link:hover{
    background-color: var(--golden-color);
    color: var(--background-color);
}
#wishlist_link:hover{
    background-color: var(--golden-color);
    color: var(--background-color);
}
