.container{
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "image2 image2"
    "account_info lists";
}


.account_menu{
    grid-area: image2;
    display: inline-block;
    font-size: 1em;
    height: 4em;
    background-color: var(--secondary-color);
    padding-top: 1.0em;
    text-align: center;
}
.account_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
}
.account_menu li {
    display: inline;
    padding: 0;
}
.account_menu li a {
    text-decoration: none;
    color: #1b1b1b;
     transition: all 0.3s ease;
}
.account_menu li a:hover {
    background-color: var(--golden-color);
    border-radius: 1em;
    color: var(--background-color);
     transform: scale(1.1);
}
.left_container{
    grid-area: account_info;
    width: 85%;
    margin: auto;
}

.profile-pic img{
    margin-top: -10em;
    max-width: 14em;
    width: 14em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: var(--secondary-color);
    border: 0.8em solid var(--secondary-color);
}

.account_info{
    align-items: center;
    flex-direction: column;
}

.account_info h1{
    text-align: center;
    font-size: 3em;
    margin-top: 0.5em;
}
.account_info h2{
    margin-top: -1em;
    text-align: center;
    font-size: 2em;
    color:var(--primary-color);
}

.account_info h3{
    text-decoration: underline;
}

.user_bio{
    margin-top: 0em;
    background-color: var(--golden-color);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
    border-radius: 2em;
}
.user-description {
    text-align: justify;
    max-height: 27em;
    overflow: auto;
    margin: 1em 1em 1em 1em;
    padding: 0.3em 0em 0.3em 0em;
    font-size: 1.5em;
}

.separator {
    width: 38%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: -2em;
}

.right_container{
    grid-area: lists;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.print_stuff{
    width: 85%;
    margin-top: 4em;
    max-height: 50.5em;
    height: 60em;
    overflow: auto;
    background-color: var(--right-color);
    padding-bottom: 1em;
}

.account_menu ul{
    margin: 0;
}


.create_listing {
    background-color: var(--primary-color);
    color: white;
    padding: 1em 1em;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  
.create_listing:hover {
    background-color: var(--golden-color); /* Darker green */
    color: var(--background-color);
    font-weight: bold;
}

