div.init_div {
    justify-self: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}

input:focus {
    border-color: #66afe9; 
  }
  input::placeholder {
    color: #ccc; /* Adjust placeholder text color */
  }
form {
    padding: 0.6em;
    border: 0.13em solid var(--primary-color);
    border-radius: 10em;
    margin-bottom: 1em;
    display: block; 
    width: 30%; 
    justify-self: center;
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  button[type="submit"] {
    background-color: var(--secondary-color); 
    color: white;
    border: none;
    border-radius: 0.3em; 
    cursor: pointer; 
    margin: 1.5em;
    width:40%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  input {
        background-color: var(--secondary-color); 
        color: white;
        border: none;
        border-radius: 0.3em; 
        cursor: pointer; 
        margin: 1.5em;
        width:40%;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        margin:0.2em
  }
  select {
    width:40%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: VAR(--secondary-color); 
    color: white;
    border: none;
    border-radius: 0.3em; 
    cursor: pointer; 
  }
  select:hover,button[type="submit"]:hover{
    background-color: var(--primary-color);
    
  }