.filter-section select,button {
    background-color: var(--secondary-color); 
    color: white;
    border: none;
    border-radius: 0.3em; 
    cursor: pointer; 
    margin: 0em;
    padding: 1em 5em;
}

.filter-section {
    flex: 0 0 5%; 
    margin: 1%;
}

.filter-section select:hover{
    background-color: var(--golden-color); 
}

.filter-section button{
    background-color: var(--secondary-color); 
    color: white;
    border: none;
    border-radius: 0.3em; 
    cursor: pointer; 
    margin-top: 1em;
}