footer {
    display:flex;
    background-color: #1b1b1b;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    position:absolute;
    left:0;
    bottom: 0;
    height: 4rem;
    padding-top: 0.5em;
}
footer > ul{
    text-decoration: solid;
    font-weight: 1000;
    list-style: none;
}
footer > ul > li{
    font-weight: 100;
    list-style: none;
    display: flex;
}

footer > ul > li {
    margin: auto;
}
main{
    position:relative;
    min-height:84.3vh;
}