footer {
    background-color: #097144;
    padding: 1em;
    color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    width: 100vw;
  }