footer {
    background-color: var(--primary-color);
    padding: 1em;
    color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
  }