header {
    padding: 0em;
    border-radius: 2em;
    width: 100%;
}
header > nav {
    height: 101.25px;
}
#topbar {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #1b1b1b;
    height: 101.25px; /* Adjust height as needed */
}

#topbar > a#main > img {
    margin-left: 18em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29%;
}

#topbar .search_box{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}