
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    min-height: 10vh;
    padding: 1vh;
}
header #logo{
    height: calc(0.5em + 5vw);
}

#account{
  height: 7em;
  width: 7em;
}
.log_out_account{
  height: 100%;
}
#logout{
  height: 7em;
  width: 7em;
}
#shopping_img{
  height: 20%;
  width: 20%;
}

.shopping_cart{
  width: 10%;
  display: block;
}
