
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    min-height: 10vh;
    padding: 1vh;
}
header #logo{
    height: calc(0.5em + 5vw);
}

#account{
  height: calc(0.5em + 5vw);
  
}
.log_out_account{
  height: calc(0.5em + 5vw);

}
#logout{
  height: calc(0.5em + 5vw);
}
#shopping_img{
  height: 20%;
  width: 20%;
}

.shopping_cart{
  width: 10%;
  display: block;
}

.login_register {
  margin-right: 1%;
}

.login_register a {
        display: inline-block;
        padding: 0.7em 1em;
        margin: 0 0.3em;
        text-decoration: none;
        color: #fff;
        background-color: var(--secondary-color);
        transition: all 0.2s ease;
        border-radius: 5em;
        font-size: 150%;
    }
.login_register a:hover {
        background-color: var(--golden-color);
        font-weight: bold;
}
.login_register .separator {
        color: white;
        font-size: 170%;
    } 