.listings > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;  
    justify-content: space-evenly;  
    padding: 3em;
  }
.listings > ul > ul {   
    padding:2em;
    width:20%;
}
.listings > ul > ul > li{   
    font-weight: bolder;
    font-size: min(10em,2vw);
}
.listings ul {
    list-style-type: none;
}
.listings img{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    object-fit:cover;
    border-radius: min(10em,2vw);
    width: 100%;
    max-width: 40vw;
    aspect-ratio: 1/1;
}
.listings img:hover{
    filter: blur(0.2em);
    transition-duration: 0.5s;
}

div.atc {
    position: relative;
}
div.atc > form {
    width:100%;
    max-width: 40vw;
    margin: 0;
    position:absolute;
}
.listings button {
    width: 80%;
    max-width: 32vw;
    max-height: 10vh;
    background-color: var(--secondary-color); 
    color: white;
    border: none;
    border-radius: 0.3em; 
    cursor: pointer; 
    margin-top: 1em;
}
.cart-button{
    transform: translateY(-16em);
}

.wishlist-button{
    transform: translateY(-10em);
}