.listings > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 35em)); /* Example with auto-fit and minimum width */
    grid-gap: 0.5em;  /* Example gap between items */
    justify-content: space-evenly;
  }
.listings ul {
    list-style-type: none;
}
.listings > ul > ul{
    width : 19em;
}
img.listing{
    height: 10em;
    width: 10em;
}
.listings img {
    height: 19em;
    width: 19em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    object-fit:contain;
    border-radius: 1em;
}