.listings img {
    height: 20em;
    width: 20em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    object-fit:cover;
    border-radius: 1em;
}

.listings ul {
    list-style-type: none;
    margin: 0 auto;
    display: block;
}

.listings{
    text-align: center;
}

.listings > ul >li {
    text-align: center;
    display: block;
}