body {
    min-width: 100vw;
    background-color: white;
    display: flex;
    min-height: 100vh;
    justify-items: stretch;
    max-width: max-content;
    justify-content: stretch;
    flex-direction: column;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

main{
    height: 70vh;
    overflow: auto;
}

 
    